.email-index {
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  grid-template: subgrid / subgrid;
}

.email-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(100vw - var(--sidebar-width));
  grid-area: b;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  grid-template: subgrid / subgrid;
}

.email-list .header {
  grid-area: h;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  align-items: center;
  padding: 8px;
}
.email-list .header > * {
  height: 48px;
}
.email-list .logo {
  user-select: none;
  justify-self: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
.email-list .logo::before {
  content: '';
  user-select: none;
  background-image: url('/icon.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.email-list .header .custom-search {
  position: relative;
  background-color: rgb(234, 241, 251);
  max-width: 720px;
  display: grid;
  grid-template-columns: 48px auto 64px;
  align-items: center;
  width: 100%;
  align-self: center;
  border-radius: 24px;
  height: 46px;
}

.email-list .header .custom-search .search-logo {
  width: auto;
  height: 48px;
  padding: 6px;
}
.email-list .header .custom-search .search-logo:hover svg,
.email-list .header .custom-search .settings:hover img {
  background-color: rgba(60, 64, 67, 0.08);
  border-radius: 50%;
}

.email-list .header .custom-search input {
  font-weight: 500;
  background: transparent;
}

.email-list .header .custom-search .search-logo svg {
  font-size: 36px;
  padding: 6px;
}

.email-list .header .custom-search input {
  width: 100%;
  min-width: 100px;
  height: auto;
  border: none;
  font-size: 16px;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
.email-list .header .custom-search .settings img {
  cursor: pointer;
  padding: 6px;
  margin: 0 20px;
}
.email-list .header .profile-menu {
  display: flex;
  padding: 0 4px 0 2px;
  align-content: center;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
}

.email-list svg {
  font-size: 30px;
}

.email-list svg.is-starred {
  fill: yellow;
}

.email-list svg.side-icon {
  font-size: 20px;
}
.email-list .emails {
  grid-area: b;
  overflow: hidden;
}
