.email-index{
  display: grid;
  grid-column: 1/-1;
  grid-row: 1/-1;
  grid-template: subgrid / subgrid;
}





.email-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: calc(100vw - var(--sidebar-width));
  grid-area: b;
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  grid-template: subgrid / subgrid;
}


.email-list .header {
  grid-area: h;
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: subgrid;
  align-items: center;
}
.email-list .logo {
  justify-self: center;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
.email-list .logo img {
  width: 40px;
}

.email-list .header .custom-search {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 15px;
  width: 300px;
  margin-left: 10px;
  padding: 0 10px;
}

.email-list .custom-search input {
  margin: 3px 0;
  padding: 4px;
}

.email-list .custom-search label svg {
  font-size: 20px;
}

.email-list .custom-search input {
  width: 100%;
  outline: none;
  border: none;
}

.email-list svg {
  font-size: 30px;
}

.email-list svg.is-starred {
  fill: yellow;
}

.email-list svg.side-icon {
  font-size: 20px;
}
.email-list .emails{
  grid-area: b;
  overflow: hidden;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 10px 0 0 0;
}
