/*  Basics */
@import 'basics/base.css';
@import 'basics/helpers.css';
@import 'basics/layout.css';
@import 'basics/animations.css';

/* Pages */
@import './pages/email-index.css';
@import './pages/email-details.css';

/* Components */
@import './cmps/sidebar.css';
@import './cmps/mail-preview.css';
@import './cmps/compose.css';
@import './cmps/user-msg.css';
@import './cmps/sort-menu.css';
@import './cmps/search-filter.css';
@import './cmps/search-preview.css';
@import './cmps/search-settings.css';

/* Responsive */
@import 'basics/responsive.css';

:root {
  --bg-color: rgb(211, 227, 253);
  --top-header-height: 75px;
  --sidebar-width: 220px;
}
