.container {
    max-width: 100vw;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding: 20px;
}

/* GRIDS */
.simple-cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 10px;
}
.main-layout{
    display: grid;
    grid-template-columns: 220px 1fr 100px;
    grid-template-rows: 75px 1fr;
    grid-template-areas: 
    "h h h"
    "a b b";
}