.email {
  display: grid;
  grid-template-columns:
    min-content 50px max-content minmax(200px, auto) max-content
    repeat(2, min-content);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f9f9f9;
}
.email .link {
  display: grid;
  grid-column: 2 / span 4;
  grid-template-columns: subgrid;
  text-decoration: none;
  align-items: center;
}
.email.trash {
  grid-template-columns: 50px max-content  minmax(200px, auto) max-content repeat(
      3,
      min-content
    );
}
.email.trash .link {
  grid-column: 1 / span 4;
}

.email .email-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  color: #999;
}
.email .email-icon.star {
  margin-right: 10px;
}

.email .email-icon:hover {
  color: #007bff;
}

.email .is-starred {
  color: #ffc107;
}

.email .name {
  margin: 0;
  font-size: 14px;
  min-width: 150px;
  line-height: 1.5;
  color: #000;
}

.email .subject {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.email .date {
  margin-left: auto;
  font-size: 12px;
  line-height: 1.5;
  color: #666;
  text-decoration: none;
}

.email.read {
  background-color: var(--bg-color);
}
