.email-list .header .custom-search:has(.search-settings),
.custom-search .search-settings {
  background-color: #fff;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
.custom-search .search-settings {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 3;
  margin-top: -10px;
  border: 1px solid #ccc;
  padding: 30px 30px 10px 30px;
  z-index: 4;
}



.custom-search .search-settings .search-form {
  /* Add your styles here */
  margin: auto;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 10px 10px;
  flex-direction: column;
}


.search-settings .settings-txt {
  /* Add your styles here */
  border: none;
  border-bottom: 1px solid #64798f1f;
  outline: none;
}
.search-settings .settings-txt:focus {
  border-bottom: 1px solid #4285f4;
}

.search-settings .before-date {
  /* Add your styles here */
  border: none;
  border-bottom: 1px solid #64798f1f;
  outline: none;
}
.search-settings .before-date:focus{
  border-bottom: 1px solid #4285f4;
}
.before-date option:disabled {
  display: none;
}

.search-settings .after-date {
  /* Add your styles here */
  border: none;
  border-bottom: 1px solid #64798f1f;
  outline: none;
  cursor: text;
}
.search-settings .after-date:focus{
  border-bottom: 1px solid #4285f4;
}
.search-settings .after-date::-webkit-calendar-picker-indicator{
  background-image: url("/calendar.svg");
  cursor: pointer;
}

.custom-search .search-settings .search-form .buttons {
  /* align-self: flex-end; */
  display: flex;
  grid-column: 2;
  justify-items: end;
}

.search-settings .settings-submit {
  /* Add your styles here */
  margin: 10px 0;
}

.search-settings .settings-reset {
  /* Add your styles here */
  margin: 10px;
  margin-left: auto;
}
