.user-msg {
  position: relative;
  user-select: none;
  bottom: 10px;
  left: 10px;
  padding: 20px 30px;
  margin-right: auto;
  border-radius: 10px;
  animation: appear 1s;
  z-index: 1000;
}
.user-msg.success {
  background-color: rgba(0, 128, 0, 0.5);
}
.user-msg.error {
  background-color: rgba(255, 0, 0, 0.5);
 
}
.user-msg .close-user-message {
  position: absolute;
 cursor: pointer;
  top: 5px;
  right: 10px;
}


@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
